/* SVG */
.svg {
    text-align: center;
}

svg text:hover {
    fill: red;
    cursor: default;
}

svg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

img {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}